In [44]:
from IPython.display import clear_output
import pandas as pd
import random
import os

### 18. Uma grande emissora de televisão quer fazer uma enquete entre os seus telespectadores para saber qual o melhor jogador após cada jogo. Para isto, faz-se necessário o desenvolvimento de um programa, que será utilizado pelas telefonistas, para a computação dos votos. Sua equipe foi contratada para desenvolver este programa, utilizando a linguagem de programação C++. Para computar cada voto, a telefonista digitará um número, entre 1 e 23, correspondente ao número da camisa do jogador. Um número de jogador igual zero, indica que a votação foi encerrada. Se um número inválido for digitado, o programa deve ignorá-lo, mostrando uma breve mensagem de aviso, e voltando a pedir outro número. Após o final da votação, o programa deverá exibir:
<p> O total de votos computados; </p>
<li>Os númeos e respectivos votos de todos os jogadores que receberam votos;</li>
<li>O percentual de votos de cada um destes jogadores;</li>
<li>O número do jogador escolhido como o melhor jogador da partida, juntamente com o número de votos e o percentual de votos dados a ele.</li>
Observe que os votos inválidos e o zero final não devem ser computados como votos. O resultado aparece ordenado pelo número do jogador. O programa deve fazer uso de arrays. O programa deverá executar o cálculo do percentual de cada jogador através de uma função. Esta função receberá dois parâmetros: o número de votos de um jogador e o total de votos. A função calculará o percentual e retornará o valor calculado. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa. Ao final, o programa deve ainda gravar os dados referentes ao resultado da votação em um arquivo texto no disco, obedecendo a mesma disposição apresentada na tela.

In [ ]:
# Enquete: Quem foi o melhor jogador?

# Número do jogador (0=fim): 9
# Número do jogador (0=fim): 10
# Número do jogador (0=fim): 9
# Número do jogador (0=fim): 10
# Número do jogador (0=fim): 11
# Número do jogador (0=fim): 10
# Número do jogador (0=fim): 50
# Informe um valor entre 1 e 23 ou 0 para sair!
# Número do jogador (0=fim): 9
# Número do jogador (0=fim): 9
# Número do jogador (0=fim): 0

# Resultado da votação:

# Foram computados 8 votos.

# Jogador Votos           %
# 9               4               50,0%
# 10              3               37,5%
# 11              1               12,5%
# O melhor jogador foi o número 9, com 4 votos, correspondendo a 50% do total de votos.

In [4]:
lista_votos = []
print('Enquete: Quem foi o melhor jogador?')
while True:
    try:
        voto = int(input('Número do jogador (0=fim):'))
    except:
        print('Informe um valor entre 1 e 23 ou 0 para sair!')
    if voto > 0 and voto <= 23:
        lista_votos.append(voto)
    elif voto == 0:
        break
    else: 
        print('Informe um valor entre 1 e 23 ou 0 para sair!')
    clear_output(wait=True)

Número do jogador (0=fim):0

In [ ]:
def contagem_votos(lista_votos):
    set_votos = set(lista_votos)
    dict_votos = {}
    for voto in set_votos:
        dict_votos[voto] = lista_votos.count(voto)
    return dict_votos

In [ ]:
dict_votos = contagem_votos(lista_votos)
print('Jogador     Votos    Porcentagem')
teste = [print(key,'  =         ', value, '     ', round((value*100)/len(lista_votos),1),'%') for key,value in dict_votos.items()]

In [ ]:
porcentagem = (max(dict_votos.values())*100)/sum(dict_votos.values())

In [ ]:
print(f'''O Jogador mais votado foi o Jogador {max(dict_votos, key=dict_votos.get)} com um total de {max(dict_votos.values())} votos
Correspondendo a {porcentagem:.0f}% dos votos''')

### 19. Uma empresa de pesquisas precisa tabular os resultados da seguinte enquete feita a uma grande quantidade de organizações.

In [92]:
# "Qual o melhor Sistema Operacional para uso em servidores?"

# As possíveis respostas são:

# 1- Windows Server
# 2- Unix
# 3- Linux
# 4- Netware
# 5- Mac OS
# 6- Outro

Você foi contratado para desenvolver um programa que leia o resultado da enquete e informe ao final o resultado da mesma. O programa deverá ler os valores até ser informado o valor 0, que encerra a entrada dos dados. Não deverão ser aceitos valores além dos válidos para o programa (0 a 6). Os valores referentes a cada uma das opções devem ser armazenados num vetor. Após os dados terem sido completamente informados, o programa deverá calcular a percentual de cada um dos concorrentes e informar o vencedor da enquete. O formato da saída foi dado pela empresa, e é o seguinte:

In [93]:
# Sistema Operacional     Votos   %
# -------------------     -----   ---
# Windows Server           1500   17%
# Unix                     3500   40%
# Linux                    3000   34%
# Netware                   500    5%
# Mac OS                    150    2%
# Outro                     150    2%
# -------------------     -----
# Total                    8800

# O Sistema Operacional mais votado foi o Unix, com 3500 votos, correspondendo a 40% dos votos.

In [195]:
### Captação dos dados
votos = []
while True:
    clear_output(wait=True)
    try:
        resp = int(input('''Escolha de Sistema Operacional.
1 - Windows Server
2 - Unix
3 - Linux
4 - Netware 
5 - Mac OS
6 - Outro
0 - Finalizar a votação
Qual seu voto: '''))
        if resp < 7 and resp > 0:
            votos.append(resp)
        else:
            break
    except:
        print('Valor inválido')
        break
    clear_output(wait=True)

Escolha de Sistema Operacional.
1 - Windows Server
2 - Unix
3 - Linux
4 - Netware
5 - Mac OS
6 - Outro
0 - Finalizar a votação
Qual seu voto: 56

In [196]:
#### Criar as values para o dict resultado
candidatos = list(eleicao.keys())
votos = list(eleicao.values())
def pegar_porcentagem (votos):
    porcentagem = []
    total_votos = sum(votos)
    for voto in votos:
        porcento = f"{round((voto*100)/total_votos)} %"
        porcentagem.append(porcento)
    return porcentagem

In [197]:
#Criar um dicionario com todos os valores
resultados = {"Candidatos":candidatos,"Votos":votos,"Porcentagem":pegar_porcentagem(votos)}
#Criar a tabela dos resultados
df = pd.DataFrame(data=resultados)

In [198]:
# Sistema Operacional     Votos   %
# -------------------     -----   ---
# Windows Server           1500   17%
# Unix                     3500   40%
# Linux                    3000   34%
# Netware                   500    5%
# Mac OS                    150    2%
# Outro                     150    2%
# -------------------     -----
# Total                    8800

# O Sistema Operacional mais votado foi o Unix, com 3500 votos, correspondendo a 40% dos votos.

In [199]:
df

       Candidatos  Votos Porcentagem
0  Windows Server      7        17 %
1            Unix      5        12 %
2           Linux      5        12 %
3         Netware      8        20 %
4          Mac OS     10        24 %
5           Outro      6        15 %

### 20.  As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
* **a** .Cada funcionário receberá o equivalente a **20%** do seu salário bruto de dezembro; 
* **a** .O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 
Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. 
> Seu programa deverá permitir a digitação do salário de um número indefinido (desconhecido) de salários. Um valor de salário igual a 0 (zero) encerra a digitação. Após a entrada de todos os dados o programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:
>> * O salário de cada funcionário, juntamente com o valor do abono; 
>> * O número total de funcionário processados;
>> * O valor total a ser gasto com o pagamento do abono;
>> * O número de funcionário que receberá o valor mínimo de 100 reais;
>> * O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos. Os valores podem mudar a cada execução do programa.

In [212]:
# Projeção de Gastos com Abono
# ============================ 
 
# Salário: 1000
# Salário: 300
# Salário: 500
# Salário: 100
# Salário: 4500
# Salário: 0
 
# Salário    - Abono     
# R$ 1000.00 - R$  200.00
# R$  300.00 - R$  100.00
# R$  500.00 - R$  100.00
# R$  100.00 - R$  100.00
# R$ 4500.00 - R$  900.00
 
# Foram processados 5 colaboradores
# Total gasto com abonos: R$ 1400.00
# Valor mínimo pago a 3 colaboradores
# Maior valor de abono pago: R$ 900.00

In [213]:
#Captação dos Salários
salarios = []
while True:
    try:
        salario = int(input("Digite seu Salário referente ao mês de Dezembro ou Digite 0 para sair \nSalario: R$ "))
        if salario == 0:
            print('Obrigado por utilizar o nosso sistema')
            break
        else:
            salarios.append(salario)
    except:
        print('Valor Inválido')
        break
    finally:
        clear_output(wait=True)

Digite seu Salário referente ao mês de Dezembro ou Digite 0 para sair
Salario: R$ 0
Obrigado por utilizar o nosso sistema

In [214]:
#Criar uma lista com os abonos
abonos = [salario*0.2 if salario * 0.2 > 100 else 100 for salario in salarios]
abonos = list(map(round,abonos))

In [216]:
#Criar os resultados e uma tabela
resultados = {"Salarios R$":salarios,"Abono R$": abonos}
df_20 = pd.DataFrame(data = resultados)

In [217]:
df_20

   Salarios R$  Abono R$
0         1500       300
1          170       100
2          250       100
3         3660       732
4          550       110
5          455       100
6         7500      1500
7         3500       700
8         2500       500

In [218]:
print(f'''Foram processados {len(salarios)} Colaboradores
Total gasto com abonos: R$ {sum(abonos)}
Valor Mínimo pago a {abonos.count(100)}
Maior valor de abono pago: R$ {max(abonos)}''')

Foram processados 9 Colaboradores
Total gasto com abonos: R$ 4142
Valor Mínimo pago a 3
Maior valor de abono pago: R$ 1500

### 21. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
* **O modelo do carro mais econômico**;
* **Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe 2,25 o litro. Abaixo segue uma tela de exemplo**. 
O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.

In [1]:
# Comparativo de Consumo de Combustível

# Veículo 1
# Nome: fusca
# Km por litro: 7
# Veículo 2
# Nome: gol
# Km por litro: 10
# Veículo 3
# Nome: uno
# Km por litro: 12.5
# Veículo 4
# Nome: Vectra
# Km por litro: 9
# Veículo 5
# Nome: Peugeout
# Km por litro: 14.5

# Relatório Final
#  1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
#  2 - gol             -   10.0 -  100.0 litros - R$ 225.00
#  3 - uno             -   12.5 -   80.0 litros - R$ 180.00
#  4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
#  5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17

In [49]:
#Captação dos Valores
veiculos = {'nome':[],'km_litro':[]}
while True:
    try:
        nome = input('Qual o modelo do seu veiculo? ')
        km_litro = float(input('Quantos kilometros faz por litro? '))
        if nome == 0 or km_litro == 0:
            break
        veiculos['nome'].append(nome)
        veiculos['km_litro'].append(km_litro) 
    except:
        print('Valores Inválidos')
        break
    clear_output(wait=True)

Qual o modelo do seu veiculo? 0
Quantos kilometros faz por litro? 0

In [69]:
# Criação dos criterios
qtd_litro = []
valor_total = []
gasolina = 2.25
km = 1000
for km_litro in veiculos['km_litro']:
    litros = km / km_litro
    reais = litros*gasolina
    qtd_litro.append(litros)
    valor_total.append(reais)
qtd_litro = list(map((lambda litros: round(litros,1) ),qtd_litro))
valor_total = list(map((lambda real: round(real,2) ),valor_total))

In [70]:
resultado = {'modelo':veiculos['nome'],
             'Km/litro:':veiculos['km_litro'],
             'Quantidade de litros':qtd_litro,
             "Valor R$":valor_total}
df_21 = pd.DataFrame(data=resultado)

In [80]:
menor_valor = valor_total.index(min(valor_total))
print(f'O menor consumo é o {veiculos["nome"][menor_valor]}')
df_21

O menor consumo é o celta

  modelo  Km/litro:  Quantidade de litros  Valor R$
0    uno       12.5                  80.0    180.00
1    gol       15.0                  66.7    150.00
2   golf        7.8                 128.2    288.46
3  celta       17.3                  57.8    130.06

### 22. Sua organização acaba de contratar um estagiário para trabalhar no Suporte de Informática, com a intenção de fazer um levantamento nas sucatas encontradas nesta área. A primeira tarefa dele é testar todos os cerca de 200 mouses que se encontram lá, testando e anotando o estado de cada um deles, para verificar o que se pode aproveitar deles.
Foi requisitado que você desenvolva um programa para registrar este levantamento. O programa deverá receber um número indeterminado de entradas, cada uma contendo: 
* um número de identificação do mouse 
* o tipo de defeito:
* necessita da esfera;
* necessita de limpeza; 
* a.necessita troca do cabo ou conector; 
* a.quebrado ou inutilizado Uma identificação igual a zero encerra o programa. 

Ao final o programa deverá emitir o seguinte relatório:

In [81]:
# Quantidade de mouses: 100

# Situação                        Quantidade              Percentual
# 1- necessita da esfera                  40                     40%
# 2- necessita de limpeza                 30                     30%
# 3- necessita troca do cabo ou conector  15                     15%
# 4- quebrado ou inutilizado              15                     15%

In [93]:
qtd_mouse = int(input('Quantos mouses pretende testar? '))
mouses = []
for mouse in range(qtd_mouse):
    clear_output(wait=True)
    try:
        situacao = int(input('''Qual a situação do Mouse:
1 - Necessita da esfera
2 - Necessita de limpeza
3 - Necessita troca do cabo ou conector
4 - Quebrado ou inutilizado.
Qual a situação: '''))
        if situacao < 5 and situacao > 0:
            mouses.append(situacao)
        else:
            print('Inválido')
            break
    except:
        print('Inválido')
        break
    clear_output(wait=True)

Qual a situação do Mouse:
1 - Necessita da esfera
2 - Necessita de limpeza
3 - Necessita troca do cabo ou conector
4 - Quebrado ou inutilizado.
Qual a situação: 2

In [107]:
situacoes = ['Necessita da esfera','Necessita de limpeza','Necessita troca do cabo ou conector','Quebrado ou inutilizado']
qtd_situacoes = [mouses.count(opcao+1) for opcao in range(len(situacoes))]
porcentagem = [f'{round((opcao*100)/qtd_mouse)} %' for opcao in qtd_situacoes]
resultados = { "Situação":situacoes, "Quantidade":qtd_situacoes,"Percentual":porcentagem
}
df_22 = pd.DataFrame(data=resultados)

In [109]:
print(f'Quantidade de Mouses testados {qtd_mouse}')
df_22

Quantidade de Mouses testados 20

                              Situação  Quantidade Percentual
0                  Necessita da esfera           4       20 %
1                 Necessita de limpeza           7       35 %
2  Necessita troca do cabo ou conector           4       20 %
3              Quebrado ou inutilizado           5       25 %

### 23. A ACME Inc., uma empresa de 500 funcionários, está tendo problemas de espaço em disco no seu servidor de arquivos. Para tentar resolver este problema, o Administrador de Rede precisa saber qual o espaço ocupado pelos usuários, e identificar os usuários com maior espaço ocupado. Através de um programa, baixado da Internet, ele conseguiu gerar o seguinte arquivo, chamado "usuarios.txt":

Neste arquivo, o nome do usuário possui 15 caracteres. A partir deste arquivo, você deve criar um programa que gere um relatório, chamado "relatório.txt", no seguinte formato:

In [4]:
# ACME Inc.               Uso do espaço em disco pelos usuários
# ------------------------------------------------------------------------
# Nr.  Usuário        Espaço utilizado     % do uso

# 1    alexandre       434,99 MB             16,85%
# 2    anderson       1187,99 MB             46,02%
# 3    antonio         117,73 MB              4,56%
# 4    carlos           87,03 MB              3,37%
# 5    cesar             0,94 MB              0,04%
# 6    rosemary        752,88 MB             29,16%

# Espaço total ocupado: 2581,57 MB
# Espaço médio ocupado: 430,26 MB

In [76]:
with open("nomes.txt","r") as arquivo:
    arq_nomes = arquivo.read()
lista = arq_nomes.split('\n')
lista = [nome[:nome.find(',')] for nome in lista]

In [151]:
usuarios = random.randrange(10)
espaco_utilizado = [float(random.randrange(1, 100000))/100 for contador in range(usuarios)]
nomes, porcentagem = [],[]
for linha in range(usuarios):
    nomes.append(lista[linha])
    porcentagem.append(f'{round((espaco_utilizado[linha]*100)/sum(espaco_utilizado),1)} %')
espaco_utilizado_str = [f'{espaco} MB' for espaco in espaco_utilizado]

In [152]:
resultado = {"Nome":nomes,"Espaço Utilizado":espaco_utilizado_str,"% do uso":porcentagem}
df_23 = pd.DataFrame(data=resultado)
print(f'Espaço total ocupado: {round(sum(espaco_utilizado),2)} MB')
print(f'Espaço médio ocupado: {round(sum(espaco_utilizado)/len(espaco_utilizado),2)} MB')
df_23

Espaço total ocupado: 3079.79 MB
Espaço médio ocupado: 384.97 MB

          Nome Espaço Utilizado % do uso
0         Raul         830.1 MB   27.0 %
1       Cicero        333.81 MB   10.8 %
2  Luis Inacio        624.34 MB   20.3 %
3       Camoes        489.34 MB   15.9 %
4      Zebedeu        210.96 MB    6.8 %
5        Maria        139.85 MB    4.5 %
6         João         133.0 MB    4.3 %
7        Pedro        318.39 MB   10.3 %

### 24.Faça um programa que simule um lançamento de dados. Lance o dado 100 vezes e armazene os resultados em um vetor . Depois, mostre quantas vezes cada valor foi conseguido. Dica: use um vetor de contadores(1-6) e uma função para gerar numeros aleatórios, simulando os lançamentos dos dados.

In [213]:
resultados_lancamentos = []
numero_dado = [1,2,3,4,5,6]
lancamentos = [resultados_lancamentos.append(random.randint(1,6))for i in range(100)]
count_dado = [resultados_lancamentos.count(lancamento) for lancamento in numero_dado]

In [217]:
resultados = {"Dado Número": numero_dado,"Rolou quantas vezes":count_dado}
df_24 = pd.DataFrame(data=resultados)
df_24

   Dado Número  Rolou quantas vezes
0            1                   24
1            2                   17
2            3                   15
3            4                   17
4            5                   16
5            6                   11